
body {
    background-color: #0e0e23;
    color: #f1f1f1;
    font-family: Arial, sans-serif;
    margin: 0;
}

.logo{
    width: 33%; 
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 25px;
    margin-left: 60px;
}

.logo span{
    width: 200px;
    font-size: 25px;
    border-radius: 50px;
    padding: 15px;
    text-align: center;
    background-color: #5C1A2A;
    color: #FFBD59;
}

.conteiner {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.filme img {
    width: 237.7px;
    height: 337.8px;
    border-radius: 8px;
}

.filme p {
    max-width: 200px;
    font-size: 14px;
    line-height: 1.6;
}


.horarios {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
}

.tipo-sala {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tipo-sala h2 {
    font-size: 29px;
    margin-bottom: 10px;
    color: #f39c12;
}


.tipo-sala button {
    height: 28.2px;
    width: 180.3px;
    background-color: #5C1A2A;
    color: #FFBD59;
    padding: 8px 12px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.tipo-sala button:hover {
    background-color: darkred;
}


.detalhes-filme {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 16px;
    gap: 10px;
}

.detalhes-filme img {
    width: 250px;
}


.fechar-voltar {
    display: flex;
    justify-content: right;
    margin-right: 20px;
    gap: 25px;
}

.fechar-voltar button {
    background-color: #5C1A2A;
    color: #FFBD59;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.fechar-voltar button:hover {
    background-color: darkred
}
